.location {
    font-weight: bold;
}

.time {
    font-style: italic;
    color: black;
}

.notstarted {
    background-color: white;
}

.inprogress {
    background-color: yellow;
}

.complete {
    background-color: green;
}

.progress {
    margin-left: 40px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.topcoat-list__expand:after{
    content: '\232a';
    font-size: 36px;
    font-weight: bold;
    vertical-align: middle;
    position: absolute;
    right: 0;
}