

<div class="topcoat-button-bar cta">
	<div class="topcoat-button-bar__item">
	 	<button class="topcoat-button-bar__button full" ng-click="go('/admin/team')">&nbsp; Teams &nbsp;</button>
	</div>
	<div class="topcoat-button-bar__item">
	  <button class="topcoat-button-bar__button full no-right" ng-click="go('/admin/game')">&nbsp; Games &nbsp;</button>
	</div>
	<div class="topcoat-button-bar__item">
	 	<button class="topcoat-button-bar__button full" ng-click="go('/admin/location')">&nbsp; Locations &nbsp;</button>
	</div>
	<div class="topcoat-button-bar__item">
		<button class="topcoat-button-bar__button full">&nbsp; Divisions &nbsp;</button>
	</div>
</div>