<div style="display: flex; align-items: center;flex-flow: column;">
    <form style="margin-top: 20px">
        <input type="date" ng-model="startDate"/>
        <button ng-click="createSchedule()" class="topcoat-button">Create Schedule</button>
    </form>

    <table>
        <tr ng-repeat="week in weeks">
            <td>
                {{week.date | date:'MMMM dd, yyyy'}}
            </td>
            <td>
                <div ng-repeat="game in week.games">
                    {{game.away.name}} vs {{game.home.name}}
                </div>
            </td>
        </tr>
    </table>
    <button ng-click="save()" class="topcoat-button--cta" ng-show="weeks.length">Submit</button>
</div>