

<div class="topcoat-list">
  <h3 class="topcoat-list__header">Today's Games</h3>
  <ul class="topcoat-list__container">
    <li ng-repeat="game in games" class="topcoat-list__item">
    	<a href="/#/admindetails/{{game.id}}">
	    <div style="display:inline-block;text-align:center;vertical-align:middle;margin-right: 20px;">
	    	<div>
	    		{{game.home}}
	    	</div>
	    	vs
	    	<div>
	    		{{game.away}}
	    	</div>
	    </div>
	    <span class="progress" ng-class="game.state || 'notstarted'">{{{'inprogress': 'In Progress', 'complete': 'Complete', 'null': 'Not Started'}[game.state]}}</span>
	    <span class="topcoat-list__expand"></span>
	</a>
    </li>
  </ul>
</div>

 <a href="/#/team-admin" class="topcoat-button--cta" style="margin: 20px" >Manage Teams</a>

  <button class="topcoat-button--cta" style="margin: 20px">Manage Games</button>

 <button class="topcoat-button--cta" style="margin: 20px" >Manage Location</button>

<button class="topcoat-button--cta" style="margin: 20px" >Manage Divisions</button>