<navigation title="location.name"></navigation>
<div class="topcoat-list">
    <ul class="topcoat-list__container">
        <li class="topcoat-list__item">
            <span>
                Latitude: {{location.latitude}}<br />
                Latitude: {{location.longitude}}<br />
            </span>
         </li>
        <li class="topcoat-list__item">
            <div class="google-map"
                 center="location"
                 zoom="14"
                 markers="[]"
                 latitude: "location.latitude",
                longitude: "location.longitude", 
                 mark-click="false"
                 draggable="true"
                 fit="false"
                 style="height: 300px; width: 100%">
            </div>
        </li>
    </ul>
</div>
