<div class="topcoat-list">
  <h3 class="topcoat-list__header">Today's Matches</h3>
  <ul class="topcoat-list__container">
    <li ng-repeat="game in games" class="topcoat-list__item" ng-click="go('ref/game/' + game.id)" >
        <div style="display:inline-block;text-align:center;vertical-align:middle;margin-right: 20px;">
            <div>
                {{game.home}}
                </span>
            </div>
            vs
            <div>
                {{game.away}}
            </div>
        </div>
		    @
		    <a ng-href="#/locationMap/{{game.location}}">{{game.locationName}}</a>
		    <span class="time">{{game.date | tdelta}}</span>
		    <span class="topcoat-list__expand"></span>

    </li>
  </ul>
</div>