<div class="topcoat-list">
  <h3 class="topcoat-list__header">Today's Matches</h3>
  <ul class="topcoat-list__container">
    <li ng-repeat="game in games" class="topcoat-list__item">
        <div ng-click="openDetails(game.id)" style="display:inline-block;text-align:center;vertical-align:middle;margin-right: 20px;">
            <div>
                {{game.home}}
                <span ng-show="game==currentGame">
                    <button class="topcoat-button">-</button>
                    <input style="vertical-align:middle;" type="text" class="topcoat-text-input" placeholder="Score">
                    <button class="topcoat-button">+</button>
                </span>
            </div>
            vs
            <div>
                {{game.away}}
            </div>
        </div>
		    @
		    <a ng-href="#/locationMap/{{game.location}}">{{game.locationName}}</a>
		    in
		    <span class="time">({{game.time | timedistance}})</span>
		    <span class="topcoat-list__expand"></span>

    </li>
  </ul>
</div>