<navigation title="currentTeam.name">
  <button class="topcoat-button--cta">Edit</button>
</navigation>
<div class="topcoat-list">
  <h3 class="topcoat-list__header"> ({{pool.name}}: {{currentTeam.wins}}/{{currentTeam.losses}}/{{currentTeam.ties}})</h3>
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item">
        <b>Coach:</b> {{currentTeam.coach}} (<a href="">{{currentTeam.phone}}</a>)
	    </li>
       <li ng-repeat="player in players" class="topcoat-list__item">
           {{player.number}}&nbsp - {{player.name}}
	    </li>
      <li ng-show="editing" class="edit-row">
        <input type="text" class="topcoat-text-input" placeholder="Number" ng-model="newPlayer.number" style="width: 100px"/>
        <input type="text" class="topcoat-text-input" placeholder="Name" ng-model="newPlayer.name"/>
        <span style="flex-grow:1;"></span>
        <button class="topcoat-button--cta">Save</button>
        <button class="topcoat-button" ng-click="editing=false">Cancel</button>
      </li>
  </ul>
</div>
<div class="vs" style="margin-top:10px; font-weight: bold" ng-click="editing=true">+</div>




