<div class="topcoat-list">
  <h3 class="topcoat-list__header">{{currentTeam.name}} ({{pool.name}}: {{currentTeam.wins}}/{{currentTeam.losses}}/{{currentTeam.ties}})</h3>
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item">
        <b>Coach:</b> {{currentTeam.coach}} (<a href="">{{currentTeam.phone}}</a>)
	    </li>
       <li ng-repeat="player in players" class="topcoat-list__item">
           {{player.number}}&nbsp - {{player.name}}
	    </li>
      <li></li>
  </ul>
</div>




