<div class="topcoat-list">
  <h3 class="topcoat-list__header">{{currentTeam.name}}</h3>
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item">
        Standing: {{currentTeam.wins}}:{{currentTeam.losses}}:{{currentTeam.ties}}
	    </li>
         <li class="topcoat-list__item">
        Home Field: {{currentTeam.home}}
	    </li>
        <li class="topcoat-list__item">
        Coach: {{currentTeam.coach}}
	    </li>
       <li class="topcoat-list__item">
        Contact: {{currentTeam.phone}}
	    </li>
      <li></li>
</div>




