<navbar>
	<button class="left" back>Back</button>
	<button class="right" ng-click="score.checkedin=true" ng-hide="score.checkedin">Check In</button>
	<h1>{{game._location.name}}</h1>
</navbar>
<div ng-hide="score.checkedin">
	<map mark="game._location" style="height: 300px; width: 100%"></map>
</div>
<div ng-show="score.checkedin" class="score-pane">
	<div class="row">
		{{game._home.name}}
		<span class="pull-right">
			<button class="topcoat-button" ng-click="score.home = abs(score.home - 1)" ng-hide="edit.submitted">-</button>
			<input style="vertical-align:middle;" type="text" ng-model="score.home" ng-disabled="true" class="score-input">
			<button class="topcoat-button" ng-click="score.home = score.home + 1" ng-hide="edit.submitted">+</button>
		</span>
	</div>
	<div class="row">
		{{game._away.name}}
		<span class="pull-right">
			<button class="topcoat-button" ng-click="score.away = abs(score.away - 1)" ng-hide="edit.submitted">-</button>
			<input style="vertical-align:middle;" type="text" ng-model="score.away" ng-disabled="true" class="score-input">
			<button class="topcoat-button" ng-click="score.away = score.away + 1" ng-hide="edit.submitted">+</button>
		</span>
	</div>
	<button ng-class="{false: 'topcoat-button--cta', true: 'topcoat-button'}[edit.submitted]" class="submit" ng-click="edit.submitted=true">{{{false: 'Submit Score', true: 'Thank You'}[edit.submitted]}}</button>
</div>
<purple-card ng-show="score.checkedin" team-one="game._home" team-two="game._away" commit="addPurpleCard"></purple-card>